@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .vertical-slider {
        -webkit-appearance: slider-vertical;
        writing-mode: bt-lr;
    }
}

canvas {
    @apply drop-shadow-lg;
}

html,
body {
  user-select: none;
  touch-action: none;
  -webkit-user-select: none;
}
